<!DOCTYPE html>
<html>
  <head>
    <meta name="robots" content="noindex">
    <title><%= process.env.TITLE %></title>
  </head>
  <body>
    <h1><%= process.env.TITLE %></h1>
    <p> <%= process.env.MESSAGE %> </p>
    <p>Please click <a href="<%= redirect %>">here</a> to redirect.</p>
  </body>
</html>
